.DS_Store

ciapp/application/cache/*
!ciapp/application/cache/index.html

ciapp/application/logs/*
!ciapp/application/logs/index.html

!ciapp/application/*/.htaccess

ciapp/application/config/development

composer.lock
composer.phar

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
ciapp/user_guide
vendor/

html/
.vagrant


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
