*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

ciapp/user_guide_src/build/*
ciapp/user_guide_src/cilexer/build/*
ciapp/user_guide_src/cilexer/dist/*
ciapp/user_guide_src/cilexer/pycilexer.egg-info/*
ciapp/user_guide

#codeigniter 3
ciapp/application/logs/*
!ciapp/application/logs/index.html
!ciapp/application/logs/.htaccess
/vendor/
